html{
  font-family: Palatino, palatino linotype, palatino lt std, latin modern roman, source-han-serif-sc, 'Noto Serif SC','source han serif sc', 'source han serif cn', 'source han serif tc', 'source han serif tw', 'source han serif', 'noto serif cjk sc', songti sc, microsoft yahei, serif
}

code {
  font-family: Consolas, Courier, courier new, stkaiti, kaiti, simkai, monospace
}

pre,
code {
  font-size: .95em
}

a{
  font-size: 18px;
}